{% extends 'layout.html'%}

{% load static %}
{% block titulo %}Título{% endblock %}
{% block contenido %}

<section ng-controller="RegistroDiarioController" ng-init="Iniciar()">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3 class="app-titulo-pagina">Registro diario de actividad</h3>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url 'dashboard' %}">Inicio</a>
                </li>
                <li class="active">Registro diario de actividad</li>
            </ol>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button type="button" class="btn btn-primary" ng-click="CrearActividad()">Agregar actividad</button>
                    <hr>
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <b class="panel-title">Actividades en progreso
                                <span class="badge" ng-bind="ListaActividad.length"></span>
                            </b>
                        </div>
                        <div class="list-group" ng-repeat="Actividad in ListaActividad">
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading">Fecha de la actividad: <span ng-bind="Actividad.fecha_actividad"></span></h4>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <p class="list-group-item-text">
                                            <small><b>Operador: </b><span ng-bind="Actividad.id_operador"></span></small><br>
                                            <small><b>Nivel: </b><span ng-bind="Actividad.nivel"></span></small>
                                        </p>
                                        <br>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <button type="button" class="btn btn-info" ng-click="CrearDetalleActividad(Actividad.id)">Ajustar
                                            detalles</button>
                                    </div>
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table class="table table-condensed table-hover table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Fecha de actividad</th>
                                                <th>Descripcion</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="DetalleActividad in Actividad.DetallesActividad">
                                            <tr>
                                                <td><span ng-bind="Actividad.fecha_actividad"></span></td>
                                                <td><span ng-bind="DetalleActividad.actividad"></span></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </a>
                        </div>

                    </div>
                    <hr>
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <b class="panel-title">Histórico de actividades
                                <span class="badge" ng-bind="ListaActividadHistorica.length"></span>
                            </b>
                        </div>
                        <div class="list-group" ng-repeat="Actividad in ListaActividadHistorica">
                            <a class="list-group-item">
                                <h4 class="list-group-item-heading">Fecha de la actividad: <span ng-bind="Actividad.fecha_actividad"></span></h4>
                                <p class="list-group-item-text">
                                    <small><b>Operador: </b><span ng-bind="Actividad.id_operador"></span></small><br>
                                    <small><b>Nivel: </b><span ng-bind="Actividad.nivel"></span></small>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="app-modal-actividad">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Registre la actividad</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Operador:</label>
                                        <input type="text" class="form-control" value="{{ nombre }}" readonly="readonly">
                                    </div>
                                    <div class="form-group">
                                        <label>Turno:</label>
                                        <select class="form-control" ng-model="Actividad.id_turno" ng-options="elemento.id as elemento.descripcion_turno for elemento in ListaTurno">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Ayudante:</label>
                                        <select class="form-control" ng-model="Actividad.id_ayudante" ng-options="elemento.id as elemento.nombre_operador for elemento in ListaAyudante">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Equipo:</label>
                                        <select class="form-control" ng-model="Actividad.id_equipo" ng-options="elemento.id as elemento.nombre_equipo + ' [' +  elemento.modelo + ']'  for elemento in ListaEquipo">
                                            <option value="">[Seleccione]</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Fecha de la actividad:</label>
                                        <input type="date" class="form-control" ng-model="Actividad.fecha">
                                    </div>
                                    <div class="form-group">
                                        <label>Nivel:</label>
                                        <input type="text" class="form-control" ng-model="Actividad.nivel">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" ng-click="CancelarActividad()">Cancelar</button>
                                <button type="button" class="btn btn-success" ng-click="GuardarActividad()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="app-modal-detalle-actividad">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="panel-title">Registre del detalle de la actividad</span>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <label>Descripcion:</label>
                                        <input type="text" class="form-control" ng-model="DetalleActividad.actividad">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" ng-click="CancelarDetalleActividad()">Cancelar</button>
                                <button type="button" class="btn btn-success" ng-click="GuardarDetalleActividad()">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/app/factories/turno-factory.js' %}"></script>
<script src="{% static 'js/app/factories/equipo-factory.js' %}"></script>
<script src="{% static 'js/app/factories/operador-factory.js' %}"></script>
<script src="{% static 'js/app/factories/detalle-actividad-factory.js' %}"></script>
<script src="{% static 'js/app/factories/actividad-factory.js' %}"></script>
<script src="{% static 'js/app/controllers/registro-diario-controller.js' %}"></script>
{% endblock %}